/* navbar */
/**{
	margin: 0 auto;
	padding: 0;

} le quito esto porque no queda centrado despues*/ 
body {
	margin: 0 auto;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}
.navbar{
	background-color: #CC6666;
	width: 100%;
	color: #fff;
}
.flex-container{
	justify-content: center;
	align-items: center;
	display:flex;	
}

ul li a{
	text-decoration: none;
	padding: 20px;
	color: whitesmoke;
	display: inline-block;
	margin: 0 20px;
	text-align: center;
	cursor: pointer;
}
ul li{
	display: inline-block;
	border-right: 2px solid white;
}

ul li:hover{
	background-color: #FFCCCC;
}

ul li:last-child {
	border-right: 2px #CC6666;
}

/*menu desplegable*/
.menutitle{
	background-color: brown;
	width: 30px;
	height: 25px;
	color: white;
}

.desplegable{
	flex-direction: column;
}
