/* navbar */
body {
	margin: 0 auto;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}
.navbar{
	background-color: pink;
	width: 100%;
	color: #fff;
}
.flex-container{
	justify-content: center;
	align-items: center;
	display:flex;	
}

ul li a{
	text-decoration: none;
	padding: 20px;
	color: whitesmoke;
	display: inline-block;
	margin: 0 20px;
	text-align: center;
	cursor: pointer;
}
ul li{
    display: inline-block;
    border-right: 2px solid white;
}

